@model CarRental.Models.Contract

<link href="~/Content/ContractDetails.css" rel="stylesheet" />

<br />

<div style="text-align: center; width: 100%;">
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        @Html.ActionLink("к списку", "IndexAll")
    }
    else
    {
        @Html.ActionLink("назад", "Index")
    }
</div>


<!---->
<div class="container-fluid bloc" style="background: rgba(40,40,40, 0.15);width: 100%; height: 100%; border-radius: 15px">
    <div class="col-lg-2" style="background: #ffffff; border-radius: 15px; margin: 15px; width: 40%; height: 100%; align-content:center;">

        <p style="font-size: 24px; color: black; width: 100%; text-align:center; margin: 0;">Получение</p>
        <hr style="color: #5394FD; margin: 5px" />

        <div style="width: 100%;">
            <input class="input" type="text" value="@Html.DisplayFor(model => model.Date_Start)" readonly>
        </div>

        <p style="font-size: 24px; color: black; width: 100%; text-align:center; margin: 0;">Возврат</p>

        <div>
            <input class="input" type="text" value="@Html.DisplayFor(model => model.Date_End)" readonly>
        </div>

        <p style="font-size: 24px; color: black; width: 100%; text-align:center; margin: 0;">Данные клиента</p>
        <hr style="color: #5394FD; margin: 5px" />

        <div>
            <input class="input" type="text" value="@Html.DisplayFor(model => model.FIO_Customer)" readonly>
        </div>
        <div>
            <input class="input" type="text" value="@ViewBag.BD" readonly>
        </div>
        <div>
            <input class="input" type="text" value="@ViewBag.Login" readonly>
        </div>
        <div>
            <input class="input" type="text" value="@ViewBag.Passport" readonly>
        </div>
        <div>
            <input class="input" type="text" value="@ViewBag.LicenseNumber" readonly>
        </div>
        <div>
            <input class="input" type="text" value="@ViewBag.Address" readonly>
        </div>
        <div>
            <input class="input" type="text" value="@Html.DisplayFor(model => model.FIO_Customer)" readonly>
        </div>

        <p style="font-size: 24px; color: black; width: 100%; text-align:center; margin: 0;">Дополнительные опции</p>
        <hr style="color: #5394FD; margin: 5px" />


        <div style="display: flex;">
            <div style="padding: 0; display: inline-block; width: 50%">
                <p style="color: rgba(40,40,40, 0.5); margin: 0;">Детское кресло </p>
                <p style="color: rgba(40,40,40, 0.5); margin: 0; ">Видеорегистратор </p>
                <p style="color: rgba(40,40,40, 0.5); margin: 0; ">Автобокс </p>
            </div>

            <div style="padding: 0; display: inline-block; text-align: center; width: 50%;">
                <p style="color: rgba(40,40,40, 0.5); margin: 0;">n</p>
                <p style="color: rgba(40,40,40, 0.5); margin: 0; ">n</p>
                <p style="color: rgba(40,40,40, 0.5); margin: 0; ">n</p>
            </div>
        </div>

        <div>
            <input class="input" style="margin-top: 10px; height: 80px; font-size: 15px; text-align:inherit;" type="text" value="@Html.DisplayFor(model => model.Notes)" readonly>
        </div>

    </div>

    <div class="col-lg-2" style="background: #ffffff; border-radius: 15px; margin: 15px; width: 54%; height: 100%; align-content:center;">


        <img src="@Url.Content("~" + @ViewBag.Image.Substring(2))" style="width: 100%; height:350px; border-radius: 15px" />
        <p style="font-size: 24px; color: black; width: 100%; text-align:left; margin: 0;">@ViewBag.Brand @ViewBag.Model, @ViewBag.Year</p>

        <hr style="color: #5394FD; margin: 5px" />

        <p style="font-size: 24px; color: black; width: 100%; text-align:left; margin: 0;">WIN</p>
        <p style="font-size: 16px; color: black; width: 100%; text-align:left; margin: 0;">@ViewBag.WIN</p>

        <p style="font-size: 24px; color: black; width: 100%; text-align:center; margin: 0;">Данные менеджера</p>

        <div style="width: 100%;">
            <input class="input" type="text" value="@Html.DisplayFor(model => model.FIO_Manager)" readonly>
        </div>

        <p style="font-size: 24px; color: black; width: 100%; text-align:center; margin: 0;">Стоимость</p>
        <hr style="color: #5394FD; margin: 5px" />


        <div style="display: flex;">
            <div style="padding: 0; display: inline-block; width: 50%">
                <p style="font-size: 16px; color: black; margin: 0; text-align:left;">Аренда на @ViewBag.RentalDate дней</p>
                <p style="color: rgba(40,40,40, 0.5); margin: 0; ">@ViewBag.DateStart - @ViewBag.DateEnd</p>
            </div>

            <div style="padding: 0; display: inline-block; text-align: center; width: 50%;">
                <p style="color: rgba(40,40,40, 0.5); margin: 0; font-size: 22px">@Html.DisplayFor(model => model.Price) <b style="color: black">₽</b></p>

            </div>
        </div>

        <hr style="color: #5394FD; margin: 5px" />

        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            if (Model.Condition.Equals("Не подтверждён"))
            {
                using (Ajax.BeginForm("Confirm", new { id = Model.id }, new AjaxOptions() { UpdateTargetId = "Confirm", HttpMethod = "Post" }))
                {
                    <div id="Confirm"></div>
                    <input type="submit" value="Подтвердить" class="btn-confirm button" style="width: 100%" />
                }
            }

            if (!Model.Condition.Equals("Отменён"))
            {
                using (Ajax.BeginForm("Canceled", new { id = Model.id }, new AjaxOptions() { UpdateTargetId = "Canceled", HttpMethod = "Post" }))
                {
                    <div id="Canceled"></div>
                    <input type="submit" value="Отменить" class="btn-canceled butto" style="width: 100%" />
                }
            }

            if (Model.Condition.Equals("Подтверждён"))
            {
                using (Ajax.BeginForm("Start", new { id = Model.id }, new AjaxOptions() { UpdateTargetId = "Start", HttpMethod = "Post" }))
                {
                    <div id="Start"></div>
                    <input type="submit" value="Начать" class="btn-finished butto" style="width: 100%" />
                }
            }

            if (Model.Condition.Equals("Действует"))
            {
                using (Ajax.BeginForm("Finished", new { id = Model.id }, new AjaxOptions() { UpdateTargetId = "Finished", HttpMethod = "Post" }))
                {
                    <div id="Finished"></div>
                    <input type="submit" value="Завершить" class="btn-finished butto" style="width: 100%" />
                }
            }
        }
        else
        {
            if (Model.Condition.Equals("Действует"))
            {
                using (Ajax.BeginForm("Finished", new { id = Model.id }, new AjaxOptions() { UpdateTargetId = "Finished", HttpMethod = "Post" }))
                {
                    <div id="Canceled"></div>
                    <input type="submit" value="Завершить" class="btn-finished butto" style="width: 100%" />
                }
            }
        }



        @*@Html.ActionLink("Подтвердить", "Confirm", new { id = Model.id }, new { @class = "btn-confirm button" })*@
        @*<a class="btn-finished button">Завершить</a>*@
        @*<a class="btn-canceled button">Отменить</a>*@


    </div>
</div>
<!---->

