@model IEnumerable<CarRental.Models.Contract>

@{
    Layout = "~/Views/Shared/_LayoutWithoutFoother.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Button.css" rel="stylesheet" />
<link href="~/Content/Contact_CSS.css" rel="stylesheet" />
<link href="~/Content/About.css" rel="stylesheet" />

@{
    ViewBag.Title = "Аренды";
}
<br />
<h2 style="margin-top: 5%;">Аренды</h2>

<!-- Start search -->
<form method="get" action="@Url.Action("FindContract", "Contracts")">
    <div style="display: flex; width: 100%;">

        <div style="padding: 0; display: inline-block; text-align: left; width: 50%;">
            <label>
                <input type="date" style="width: 49%;" class="inputPrice" placeholder="Дата начала" value="@ViewData["GetContractdetails"]" name="DateStart" />
                <input type="date" style="width: 49%;" class="inputPrice" placeholder="Дата завершения" value="@ViewData["GetContractdetails"]" name="DateEnd" />
            </label>
        </div>

        <div style="padding: 0; display: inline-block; text-align: center; width: 90%;">

            @Html.DropDownList("ListClients", null, "ФИО клиента", new { @class = "inputCar" })

            @Html.DropDownList("ListBrand", null, "Марка авто", new { @class = "inputCar" })

        </div>


        <div style="padding: 0; display: inline-block; text-align: center; width: 20%;">
            <input type="submit" class="icon" value="" style="font-size: 50px; background: url('/Image/free-icon-search-4194718.png') no-repeat center; background-size: 50px; width: 70%; height: 80%; border-radius: 15px; border: 1px" />
        </div>

    </div>
</form>
<!-- End search -->

<br />
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#ALL" style=" padding: 10px 5px 5px 5px;"><h4>Все</h4></a>
    </li>
    <li>
        <a data-toggle="tab" href="#NotConfirm" style=" padding: 10px 5px 5px 5px;"><h4>Ожидают подтверждения</h4></a>
    </li>
    <li>
        <a data-toggle="tab" href="#Confirm" style=" padding: 10px 5px 5px 5px;"><h4>Подтверждёные</h4></a>
    </li>
    <li>
        <a data-toggle="tab" href="#Work" style=" padding: 10px 5px 5px 5px;"><h4>Действуют</h4></a>
    </li>
    <li>
        <a data-toggle="tab" href="#PaymentFine" style=" padding: 10px 5px 5px 5px;"><h4>Ожидают оплаты штрафа</h4></a>
    </li>
    <li>
        <a data-toggle="tab" href="#Completed" style=" padding: 10px 5px 5px 5px;"><h4>Завершённые</h4></a>
    </li>
    <li>
        <a data-toggle="tab" href="#Сancelled" style=" padding: 10px 5px 5px 5px;"><h4>Отменённые</h4></a>
    </li>
</ul>

<!--Block-->
<div class="tab-content">
    <div id="ALL" class="tab-pane fade in active">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="NotConfirm" class="tab-pane fade in">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model.Where(contract => contract.Condition.Equals("Не подтверждён")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="Confirm" class="tab-pane fade in">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model.Where(contract => contract.Condition.Equals("Подтверждён")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="Work" class="tab-pane fade in">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model.Where(contract => contract.Condition.Equals("Действует")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="PaymentFine" class="tab-pane fade in">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model.Where(contract => contract.Condition.Equals("Ожидает оплаты штрафа")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="Completed" class="tab-pane fade in">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model.Where(contract => contract.Condition.Equals("Завершён")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Contracts", new { id = item.id })">
                            <i class="fa fa-trash fa-lg">Удалить</i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="Сancelled" class="tab-pane fade in">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO_Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car_WIN_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Additional_Options)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model.Where(contract => contract.Condition.Equals("Отменён")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO_Manager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car_WIN_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Additional_Options)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Contracts", new { id = item.id })">
                            <i class="fa fa-trash fa-lg">Удалить</i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<!--Block-->
