@model CarRental.Models.Customer_Tbl

@{
    Layout = "~/Views/Shared/_LayoutWithoutFoother.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Удалить данные пользователя: " + Model.FIO;
}

<h2 style="margin-top: 5%;">Удалить данные пользователя @Model.FIO</h2>

<h3>Вы действительно хотите удалить данные пользователя:  @Model.FIO?
    У данного пользователя существует @ViewBag.ClientsRent аренд!</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passport_Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport_Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drivers_License)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drivers_License)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
