@model CarRental.Models.Customer_Tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer_Tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passport_Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport_Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drivers_License)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drivers_License)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
