<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Foother.css" rel="stylesheet" />
    <!---->

    <!---->

</head>
<body style="padding-bottom: 0px">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Image/Монтажная область 2-8.png" alt="" style="width: 40px; height: 40px; margin: 5px;">

                @Html.ActionLink("Car FY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Car", "Index", "Car")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Users", "Index", "Customer")</li>
                            <li>@Html.ActionLink("Просмотр ролей", "Index", "Role")</li>
                            <li>@Html.ActionLink("Аренды", "IndexAll", "Contracts")</li>
                            @*<li>@Html.ActionLink("Создать роль", "Create", "Role")</li>
                                <li>@Html.ActionLink("Назначить роль", "RegisterRole", "Account")</li>*@
                        }
                        if (User.IsInRole("Manager"))
                        {
                            <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                            <li>@Html.ActionLink("Аренды", "IndexAll", "Contracts")</li>
                        }
                        if (User.IsInRole("Client"))
                        {
                            <li>@Html.ActionLink("Мои аренды", "Index", "Contracts")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="display: flex; flex-direction: column; min-height: 100%; ">

        <br />
        <br />
        <br />

        @RenderBody()

        <br />

    </div><!-- /End Section Container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/IndexScript.js"></script>


</body>
</html>
